/* @theme your-theme
 * @size 4:3 960px 720px
 * @size 16:9 1280px 720px
 * @size 4K 3840px 2160px
 * @size linkedin-square 1080px 1080px
 * @size linkedin-portrait 1080px 1350px
 */

@import 'default';
@import 'https://fonts.bunny.net/css?family=Lato:400,900|Roboto+Mono:400,700|Karla:400,700,800&display=swap';

:root {
  --accent-color: #EB5E28;
  --h1-color: var(--accent-color);
  --title-color: var(--accent-color);
  --text-color: #252422;
  --secondary-color: #403D39;
  --background-color: #FFFCF2;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: var(--title-color);
}

h1 {
  color: var(--h1-color);
  font-size: 3em;
  width: 75%;
  text-wrap: pretty;
  line-height: 1;
}

h2 {
  border-bottom: none;
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

section {
  font-family: Lato, 'Avenir Next', Avenir, 'Trebuchet MS', 'Segoe UI',
  sans-serif;
  font-size: 45px;
  background: var(--background-color);
  color: var(--text-color);
}

section::after {
  color: var(--secondary-color);
  content:  attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

header {
  font-family: 'Karla', sans-serif;
  font-size: 0.4em;
  color: var(--secondary-color);
}

footer {
  color: var(--secondary-color);
}

footer a {
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: var(--title-color);
}

.profile-picture {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  vertical-align:middle;
  margin-right: 10px;
}

pre {
  border: none;
  border-radius: 0;
  border-left: 5px solid var(--title-color);
  color: #c9d1d9;
  background: var(--secondary-color);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #c9d1d9;
  background: #0d1117
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */

}